body {
  font-family: helvetica, sans-serif;
  /*font-family: 'Azeret Mono';*/
  font-weight: 200;
  max-width: 1000px;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

code {
  display: block;
  white-space: pre-wrap;
  word-break: break-all;
  border: 1px solid gray;
  padding: 2px;
}
