.contribute-container {
  display: flex;
}

.contribute-container h2 {
  margin: 0.5rem 0;
}

.mint-color {
  color: #a3ece1;
}

.contribute-bg {
  background: linear-gradient(
    to right,
    rgba(38, 38, 38, 0.35) 43.23%,
    #000000 99.96%
  );
}

.contribute-whole-page {
  width: 100vw;
  height: 100vh;
  align-items: center;
}

.contribute-child {
  flex: 1;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
}

.upper-left-anchor {
  height: 60vh;
  padding-left: 6rem;
}

.contribute-main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.padding {
  padding: 0 5vw 5vh 5vw;
}

.contribute-main p {
  width: 550px;
  line-height: 28px;
}

.interline {
  white-space: nowrap;
  overflow: hidden;
}

.contribute-field {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2.5rem;
}

.contribute-field input {
  border-radius: 8px;
  border: 1px solid #f0f0f0;
  text-decoration: none;
  outline: none;
  height: 24px;
  width: 225px;
  padding: 8px 16px;
  font-size: 1.2rem;
  font-family: 'Azeret Mono';
}

.contribute-field input::placeholder {
  color: #e0e0e0;
}

.message-box {
  max-width: 550px;
  border-radius: 0.5rem;
  padding: 0 0.5rem;
  font-weight: 200;
  color: black;
  background: linear-gradient(135.45deg, #fee4cb 0%, #dbf2f2 95.26%);
  gap: 0.5rem;
}

.contribute-cli-field {
  max-width: 550px;
  border-radius: 0.5rem;
  border: white 1px solid;
  padding: 0 1rem;
  margin-top: 1rem;
}

.canvas-container {
  width: 90vw;
  margin: 2rem 5vw;
  border-radius: 8px;
  background: linear-gradient(135.45deg, #fee4cb 0%, #dbf2f2 95.26%);
  color: black;
}

.canvas-container p {
  text-align: center;
  padding-bottom: 1rem;
}
