.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 10px 0 10px;
}

.links {
  display: flex;
}

.title {
  font-weight: bold;
  font-size: 24px;
}

@keyframes fadeinfromleft {
  from {
    opacity: 0%;
    max-width: 0px;
  }
  50% {
    opacity: 0%;
    max-width: 40px;
  }
  to {
    opacity: 100%;
    max-width: 40px;
  }
}
