.stats-content {
  background: linear-gradient(
    rgba(38, 38, 38, 0.35),
    #000000,
    rgba(38, 38, 38, 0.35)
  );
}

.stats-container {
  display: flex;
  padding: 8rem 2rem 6rem 4rem;
  max-width: 1310px;
  margin: auto;
}

.stats-heading {
  font-size: 4rem;
  font-weight: 700;
  padding-bottom: 2rem;
}

.stats-link {
  padding: 0.5rem 0;
}

.stats-categories {
  width: 95%;
  display: flex;
  flex-flow: row wrap;
}

.stat-item {
  width: 14rem;
  height: 5rem;
  margin: 1.5rem 2.2rem 2rem;
  padding-top: 1rem;
}

.stat-count {
  width: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
}

.contribution-container {
  max-width: 1310px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  padding: 0 2rem 5rem 4rem;
}

.circuit {
  width: 35%;
  font-size: 2.5rem;
  font-weight: 700;
}

.view {
  font-size: 1rem;
  font-weight: 200;
  padding-bottom: 1rem;
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
  grid-area: select;
}

.circuit-select {
  display: grid;
  grid-template-areas: 'select';
  align-items: center;
  width: 100%;
  min-width: 25ch;
  max-width: 25ch;
  border-radius: 0.75rem;
  padding: 0.75rem;
  font-size: 1rem;
  cursor: pointer;
  background-color: #a3ece1;
}

.circuit-select::after {
  content: '';
  width: 0.8em;
  height: 0.5em;
  background-color: black;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  grid-area: select;
  justify-self: end;
}

.contribution-table {
  width: 65%;
  padding-top: 3rem;
}

.table-heading {
  display: grid;
  grid-template-columns: 40% 40% 20%;
  padding: 2rem 2rem 0.5rem 2rem;
  color: #a3ece1;
}

.table-index {
  width: 5rem;
}

@media only screen and (max-width: 1150px) {
  .stats-container {
    flex-flow: row wrap;
  }

  .contribution-container {
    flex-direction: column;
  }

  .contribution-table {
    width: 90%;
    margin: auto;
  }
}

@media only screen and (max-width: 850px) {
  .stats-container {
    padding-top: 4rem;
  }

  .stats-heading {
    font-size: 3rem;
    font-weight: 600;
    padding-bottom: 1rem;
  }

  .stat-item {
    width: 14rem;
    height: 5rem;
    margin: 1rem 3rem;
    padding-top: 1rem;
  }

  .contribution-container {
    padding: 0 0rem 5rem 0rem;
  }

  .table-heading {
    display: none;
  }

  .circuit {
    width: 100%;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
