.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  bottom: 0px;
  margin: 10px 10px 0 10px;
}

.header1 {
  font-size: 2rem;
  font-weight: 400;
}

.header2 {
  font-size: 1.5rem;
  font-weight: 400;
}

.header3 {
  font-size: 1.25rem;
  font-weight: 400;
}

.hdivider {
  height: 1px;
  background: black;
  margin: 1rem;
}
