.footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 4rem 6rem 6rem 8rem;
}

.footer-flex {
  display: flex;
  flex-direction: row;
}

.footer-link:link {
  font-size: 1.25rem;
  font-weight: 600;
  color: #f6f6f6;
  text-decoration: none;
  margin-right: 4rem;
}

.footer-link:visited {
  color: #f6f6f6;
}

@media only screen and (max-width: 800px) {
  .footer {
    padding: 2rem 2rem 5rem;
    align-items: center;
    justify-content: space-around;
  }

  .footer-flex {
    flex-direction: column;
  }

  .footer-link:link {
    margin: 0.5rem 0;
  }
}
