.info-container {
  background-color: #a3ece1;
  color: #090909;
  display: grid;
  grid-template-columns: 35% 25% 40%;
}

.info-left {
  display: flex;
  height: 100%;
  padding-left: 4rem;
  position: relative;
}

.info-bottom {
  position: absolute;
  bottom: 2rem;
  left: 6em;
}

.info-title {
  font-size: 4rem;
  font-weight: 700;
  padding: 4rem 4rem 2rem 0rem;
}

.info-center {
  display: flex;
  height: 100%;
  padding-left: 2rem;
}

.info-stripe {
  width: 2rem;
  border-left: 1.5px solid #454545;
}

.info-right {
  padding: 4rem 2.5rem;
}

.info-text {
  margin-bottom: 0.8rem;
  word-break: break-all;
}
